include ./header.pug 
div.separador_up
main.searchone__container
    img.searchone__bg__img(src="/assets/create_bg.jpg")
    form.edit__info__section(action="/create" method="POST")
        p.searchone__type Name
        input.edit__input__name(name="name",type="text", placeholder=`${films.Title}`)
        div.two__inputs
            p.edit__type Year
            p.edit__type Type
        div.two__inputs
            input.edit__input__year(name="year", type="text", placeholder=`${films.Year}`)
            input.edit__input__type(name="type", type="text", placeholder=`${films.Type}`)
        div.two__inputs
            p.edit__type Genre
            p.edit__type Duration
        div.two__inputs
            input.edit__input__genre(name="genre", type="text", placeholder=`${films.Genre}`)
            input.edit__input__duration(name="duration",type="text", placeholder=`${films.Runtime}`)
        p.searchone__type Director
        input.edit__input__director(name="director",type="text", placeholder=`${films.Director}`)
        p.searchone__type Cast
        input.edit__input__cast(name="cast",type="text", placeholder=`${films.Actors}`)
        text.searchone__type Resume
        textarea.edit__input__resume(name="resume", cols="30", rows="10") 
        div.two__inputs
            p.edit__type Rating
            p.edit__type Image URL
        div.two__inputs
            input.edit__input__rating(name="rating", type="text", placeholder=`${films.imdbRating}`)
            input.edit__input__url(name="url",type="text", placeholder=`${films.Poster}`)
        div.searchone__botton__container
            button.edit__button(type="submit") SAVE NEW 
            p.deleteFavorites
                img.reset__button(type="img",src="/assets/reset.png")
    a.favorites__link(href="http://localhost:3000/admin")
        button.gofavorites__button(type="click") MOVIES
script(src="js/createFilm.js")

    