include ./header.pug 
div.separador_up
each val in films
    main.searchone__container
        img.searchone__bg__img(src="/assets/form_bg.jpg")
        section.searchone__section
            p.searchone__title=`${val.title.toUpperCase()}`
            img.searchone__img(src=`${val.poster}`)
        section.searchone__info__section
            p.searchone__type Year
            p.searchone__info= `${val.year}`
            p.searchone__type  Type
            p.searchone__info= `${val.type}`
            p.searchone__type  Genre
            p.searchone__info= `${val.genre}`
            p.searchone__type  Duration
            p.searchone__info= `${val.runtime}`
            p.searchone__type  Director
            p.searchone__info= `${val.director}`
            p.searchone__type  Cast
            p.searchone__info= `${val.cast}`
            p.searchone__type  Resume
            p.searchone__info= `${val.resume}`
            p.searchone__type  IMDB Rating
            p.searchone__info= `${val.rating} / 10`
            div.searchone__botton__container
                a(href=`/edit/${val.title}`)
                    button.edit__button EDIT MOVIE
                a.deleteFavorites(href=`/edit/${val.title}/delete`)
                    img.deleteFavorites__button(type="img",src="/assets/delete_hover.png")
div.separador_down
a.favorites__link(href="http://localhost:3000/login")
    button.gofavorites__button(type="click") BACK
