include ./header.pug 
        section.header__search
            form(action="/searchone", method="post")
                button.header__admin__logout__button(type="submit") LOGOUT
            a(href="/dashboard") 
                button.header__admin__dash__button(type="click") GO DASH  
div.separador_up
main.searchone__container
    img.searchone__bg__img(src="/assets/form_bg.jpg")
    section.searchone__section
        p.searchone__title=`${films.Title.toUpperCase()}`
        img.searchone__img(src=`${films.Poster}`)
    section.searchone__info__section
        p.searchone__type Year
        p.searchone__info= `${films.Year}`
        p.searchone__type  Type
        p.searchone__info= `${films.Type}`
        p.searchone__type  Genre
        p.searchone__info= `${films.Genre}`
        p.searchone__type  Duration
        p.searchone__info= `${films.Runtime}`
        p.searchone__type  Director
        p.searchone__info= `${films.Director}`
        p.searchone__type  Cast
        p.searchone__info= `${films.Actors}`
        p.searchone__type  Resume
        p.searchone__info= `${films.Plot}`
        p.searchone__type  IMDB Rating
        p.searchone__info= `${films.imdbRating} / 10`
        div.searchone__botton__container
            a(href="http://localhost:3000/search/")
                button.back__button(type="click") BACK
            button.addFavorites(type="click")
                img.addFavorites__button(type="img",src="/assets/corazon.png")
section.searchone__comments__title USERS REVIEWS
section.searchone__comments__section   
    article.comment__article
        p.comment__name= `Author: ${revTwo[0]}`
        p.comment__content= `Comment: ${revTwo[1]}`
        p.comment__name= `Author: ${revTwo[2]}`
        p.comment__content= `Comment: ${revTwo[3]}`
        p.comment__name= `Author: ${revTwo[4]}`
        p.comment__content= `Comment: ${revTwo[5]}`
    article.comment__article
        p.comment__name= `Author: ${revTwo[6]}`
        p.comment__content= `Comment: ${revTwo[7]}`
        p.comment__name= `Author: ${revTwo[8]}`
        p.comment__content= `Comment: ${revTwo[9]}`
        p.comment__name= `Author: ${revTwo[10]}`
        p.comment__content= `Comment: ${revTwo[11]}`
a.favorites__link(href="http://localhost:3000/mymovies")
    button.gofavorites__button(type="click") MY MOVIES
    
