doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Document
    body 
        section.error400__container
            img.error400__img(src="/assets/200_good_request.jpg")
            div.error400__text
                p CREATE/EDIT MOVIE SUCCESSFUL!
                p=`Year: ${data.year}`
                p=`Type: ${data.type}`
                p=`Genre: ${data.genre}`
                p=`Duration: ${data.runtime}`
                p=`Director: ${data.director}`
                p=`Cast: ${data.cast.substr(0,30)}...`
                p=`Resume: ${data.resume.substr(0,30)}...`
                p=`Rating: ${data.rating}/10`
                p=`Poster: ${data.poster.substr(0,30)}...`
            a(href="/admin")
                button.error__button(type="click") BACK TO MOVIES

